html, body {
    margin: 0;
    height: 100%;
    min-height: 100%;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

.pane {
    /*height: 100%;*/
    min-height: 100%;
}

.pane-main {
    display: none;
    padding: 50px;
}

.pane-login {
    background-color: black;
    margin: auto;
    padding-top: 100px;
}

.pane-login-block {
    padding: 20px;
    margin: 0 auto;
    background-color: white;
    width: 300px;
    height: 200px;
}

.todo-list-item-author, .todo-list-item-content {
    display: inline-block;
    width: 100px;
}

.todo-list-item-author {
    color: darkgray;
}

.tasks {
    min-height: 200px;
}
